*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.wrapper-page{
    background-image: url('../img/abstract-art-blaze-bonfire-266526.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    background-position: cover;
    position: relative;
    display: flex;
}
.wrapper-page::after{
    content: '';
    background-color: rgba(0,0,0,.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    
}

.container-app{
    width: 40vw;
    height: 100vh;
    background-image: url('../img/silhouette-of-trees-under-blue-sky-1367179.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:cover;
    background-position: cover;
    display: flex;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 200px;
}
.container-app::after{
    content: '';
    background-color: rgba(215, 250, 255, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    
}
.container-app h3{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 500;
}
.box-login{
    padding:20px;
    /* height: 200px; */
    width: 70%;
    background-color: #fff;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
/* .box-login .input-login{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.box-login .input-login input{
    border: 1px solid #cacaca;
    background-color: #fff;
    outline: none;
    width: 100%;
    /* height: 80px; */
    border-radius: 20px;
    font-size: 20px;
    color: #888888;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 5px;
}
.box-login .button-section {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.box-login .button-section button{
    width: 65%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #cacaca;
    border-radius: 15px;
    color: #414141;
    font-size: 20px;
}
.box-login .button-section button:hover{
    background-color: #cacaca;
    transition: .4s;
    color: #ffff;
}
.box-login .button-section a{
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #cacaca;
    border-radius: 15px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: #414141;
}
.box-login .button-section a:hover{
    background-color: #cacaca;
    transition: .4s;
    color: #ffff;
}